@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&family=Ubuntu:wght@300&display=swap');
.select-body{
    display: flex;
    flex-direction: column;
    margin-left: 0%;
    margin-bottom: 15px;
    text-align: left;
    color: rgb(255, 255, 255);
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    transform: translateX(20%);
}