@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&family=Ubuntu:wght@300&display=swap');
.filter-body{
    margin:auto;
    margin-top: 5%;
    text-align: center;
    background-color: rgb(0, 1, 72);
    border-radius: 15px;
    width: 30%;
}

.option {
    display: flex;
    flex-direction: row;
}

.header{
    color: white;
    margin-top: 20px;
    padding-top: 50px;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&family=Ubuntu:wght@300&display=swap');
.select-body{
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    margin-bottom: 15px;
    text-align: left;
    color: rgb(255, 255, 255);
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}